#cypress-scenario-builder {
	position: fixed;
	bottom: 10px;
	right: 10px;
	box-sizing: border-box;
	width: 1px;
	max-width: 500px;
	width: calc(100% - 20px);
	background: rgba(255, 255, 255, 0.98);
	border-radius: 5px;
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
}

#cypress-scenario-builder.hidden {
	display: none !important;
}

/* Add this via JS */
.--cypress-scenario-builder-show-elements [data-test] {
	outline: 3px solid rgba(255, 0, 170, 0.75);
	cursor: pointer;
}

.--cypress-scenario-builder-element-label {
	display: none;
}
.--cypress-scenario-builder-show-elements .--cypress-scenario-builder-element-label {
	margin: 3px 0 0 -3px;  /* for outline */
	padding: 0.5em 1em;
	font: normal 12px arial, sans-serif;
	color: #fff;
	background: rgba(255, 0, 170, 1);
}

#cypress-scenario-builder {
	transition-property: width, height;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#cypress-scenario-builder.--cypress-scenario-builder-collapsed {
	width: 50px !important;
	height: 50px !important;
}
